* {
  box-sizing: border-box;
}
/* z-index */
.booktrip-where-child {
  z-index: 100;
}
.booktrip {
  z-index: 1;
}
.booktrip-where-child-1,
.booktrip-where-child-2,
.booktrip-traveler-child,
.booktrip-date-calendar-1,
.booktrip-date-calendar-2,
.nav-language-list,
.nav-currency-list,
.calendar {
  z-index: 10;
}
.login {
  z-index: 10000;
}
/* The end */
.style-text-header-body {
  color: #6d595b;
  font-size: 36px;
  font-weight: 500;
}
.style-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #947979;
}
.button-exit {
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 6px 12px 6px 12px;
  background: transparent;
}
.style-topic {
  color: #4e0309;
  font-size: 36px;
  font-weight: 500;
}
:root {
  --color-text-global: #6d595b;
  --color-content-global: #535353;
  --color-global: #e31f25;
  --margin-bottom-element-body: 60px;
  --width-global: 1260px;
  --color-background-topic: #f3f1f1;
}
body {
  background: #f7f7f7;
}
a {
  text-decoration: none;
  color: black;
}
button {
  outline: none;
}
input {
  outline: none;
}
