* {
  box-sizing: border-box;
}
/* z-index */
.booktrip-where-child {
  z-index: 100;
}
.booktrip {
  z-index: 1;
}
.login-overlay {
  z-index: 2;
}
.booktrip-where-child-1,
.booktrip-where-child-2,
.booktrip-traveler-child,
.booktrip-date-calendar-1,
.booktrip-date-calendar-2,
.nav-language-list,
.nav-currency-list,
.calendar,
.tab-detail,
.nav-human-acc-show {
  z-index: 10;
}
.login {
  z-index: 10000;
}
/* The end */
.style-text-header-body {
  color: #6d595b;
  font-size: 36px;
  font-weight: 500;
}
.style-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #947979;
}
.button-exit {
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 6px 12px 6px 12px;
  background: transparent;
}
.btn-red-white {
  padding: 12px 16px;
  border: 1px solid var(--color-global);
  color: var(--color-global);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s;
}
.btn-red-white:hover {
  color: white;
  background-color: var(--color-global);
}
.style-topic {
  color: #4e0309;
  font-size: 36px;
  font-weight: 500;
}
:root {
  --color-text-global: #6d595b;
  --color-content-global: #535353;
  --color-text-opa: #d3aeae;
  --color-global: #ec1f26;
  --margin-bottom-element-body: 60px;
  --width-global: 1260px;
  --margin-left-global: 20px;
  --color-background-topic: #f3f1f1;
  --width-line-go: 80px;
}
body {
  background: #f7f7f7;
}
a {
  text-decoration: none;
  color: black;
}
button {
  outline: none;
}
input {
  outline: none;
}
.margin-left-text {
  margin-left: 20px;
}
.margin-right-text {
  margin-right: 20px;
}
.margin-top-text {
  margin-top: 20px;
}
.margin-bottom-text {
  margin-bottom: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.box-shadow-frame {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.border-radius-4 {
  border-radius: 6px;
}
.btn-show {
  color: white;
  background: var(--color-global);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 16px;
}
.special-pointer {
  color: var(--color-global);
  font-size: 18px;
}
.traveler-infor-child-title {
  font-weight: 500;
  font-size: 16px;
  color: #59595b;
}
.error {
  background: rgba(250, 72, 69, 0.8);
  padding: 10px 32px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 12px #8c1f15;
}
.error i {
  color: white;
  margin-right: 8px;
}
.error-content {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.login-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hide-error {
  display: none;
}
