.promo-view-frame {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.promo-view {
  width: var(--width-global);
}
.promo-view-code-frame {
  width: var(--width-global);
  display: flex;
  justify-content: center;
}
.promo-view-code {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.promo-view-img {
  width: 100%;
  height: 458px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.promo-view-h {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.promo-view-ol {
  padding: 0 20px;
}
.promo-view-ol li {
  font-size: 14px;
  padding: 2px 0;
}
.promo-view-b {
  margin-left: 160px;
}
.promo-view-share {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.promo-view-flex {
  display: flex;
}
.promo-view-share-c {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}
.promo-view-share-c i {
  color: #bfbfbf;
  font-size: 18px;
}
.promo-view-code-c {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.promo-view-code-c-flex {
  display: flex;
  justify-content: center;
}
.btn-copy {
  border: none;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-global);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.promo-code-d {
  display: flex;
  justify-content: center;
}
.promo-code-t {
  display: flex;
  align-items: center;
  font-size: 16px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 12px 16px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
}
