.procedure-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: transparent;
}
.procedure {
  background-color: white;
  height: 100%;
  width: var(--width-global);
  display: flex;
  justify-content: center;
}
.procedure-step {
  display: flex;
}
.procedure-flex {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  justify-content: center;
}
.procedure-sbs-success {
  background-color: var(--color-global);
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}
.procedure-sbs-none {
  background-color: rgb(97, 97, 97);
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}
.procedure-before-step-success {
  position: relative;
}
.procedure-before-step-success::before {
  position: absolute;
  top: 28%;
  right: -60%;
  color: #c9c9c9;
  width: 180px;
  content: "----------------------";
  color: var(--color-global);
}
.procedure-before-step-none {
  position: relative;
}
.procedure-before-step-none::before {
  position: absolute;
  top: 28%;
  right: -60%;
  color: #c9c9c9;
  width: 180px;
  content: "----------------------";
  color: var(--text-global);
}
