.choose-flight-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-flight-this {
  width: var(--width-global);
  display: flex;
  flex-direction: column;
}
.choose-flight-choice-frame {
  position: relative;
  background: white;
  margin-top: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 8px -8px rgb(184, 182, 182);
}
.choose-flight {
  height: 120px;
  width: var(--width-global);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose-flight-change {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  background: white;
  border-radius: 6px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
}
.choose-flight-change-head {
  display: flex;
  height: 46%;
  justify-content: space-between;
  align-items: center;
}
.choose-flight-change-option {
  height: 54%;
  border-top: 1px solid rgba(111, 111, 111, 0.2);
}
.choose-flight-choice {
  display: flex;
  align-items: center;
}
.choose-flight-choice i {
  color: var(--color-global);
}
.choose-flight-btn,
.choose-flight-change-head-btn {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background: white;
  border: 1px solid var(--color-global);
  color: var(--color-global);
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
}
.choose-flight-btn {
}
.choose-flight-change-head-btn {
}
.choose-flight-trip-head {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-content-global);
  margin-left: var(--margin-left-global);
}
.choose-flight-change-head-name {
  margin-left: var(--margin-left-global);
}
.choose-flight-text-big {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-content-global);
}
.choose-flight-trip-detail-trip {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-content-global);
  position: relative;
  margin-left: var(--margin-left-global);
}
.choose-flight-trip-detail-date {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-content-global);
  margin-left: var(--margin-left-global);
}
.choose-flight-change-head-detail-traveler {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-content-global);
  margin-left: var(--margin-left-global);
}
.choose-flight-change-head-detail-date {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-content-global);
  position: relative;
}
.choose-flight-change-head-detail-date::before,
.choose-flight-trip-detail-trip::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: rgba(111, 111, 111, 0.6);
  top: 0;
  right: 0;
  transform: translate(calc(var(--margin-left-global) / 2), 25%);
}
.choose-flight-list-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
.choose-flight-list-child-announce {
  height: 100px;
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0px -8px 8px -8px rgba(0, 0, 0, 0.3),
    8px 0px 8px -8px rgba(0, 0, 0, 0.3), -8px 0px 8px -8px rgba(0, 0, 0, 0.3);
}
.choose-flight-list-child-announce-list {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
.choose-flight-list-child-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-flight-list-child-baggage {
  display: flex;
  align-items: center;
}
.choose-flight-list-child-price {
  display: flex;
  align-items: center;
}
.choose-flight-text-normal {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-content-global);
}
.choose-flight-text-bold {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-content-global);
}
.choose-flight-text-blur {
  font-size: 14px;
  font-weight: 500;
  color: #a9a9a9;
}
.choose-flight-list-child-announce-btn {
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--color-global);
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.choose-flight-list-child-announce-show {
  display: flex;
  align-items: center;
}
.choose-flight-list-child-announce-show i,
.choose-flight-list-child-announce-list i,
.choose-flight-list-child-baggage i {
  color: rgb(189, 186, 186);
}
.choose-flight-list-child-announce-show i {
  margin: 0 12px;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
}
.choose-flight-list-child-announce-show i:hover {
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1);
}
.choose-flight-list-child-baggage i {
  margin: 0 4px;
}
.choose-flight-text-small {
  font-size: 12px;
  font-weight: 400;
  color: rgb(132, 132, 132);
}
.choose-flight-list-child-detail {
  height: 0px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.3),
    8px 0px 8px -8px rgba(0, 0, 0, 0.3), -8px 0px 8px -8px rgba(0, 0, 0, 0.3);
}
.choose-flight-list-child-detail-child {
  display: flex;
  flex-direction: column;
}
.choose-flight-baggage {
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.choose-flight-baggage i {
  color: var(--color-text-global);
  margin-right: 8px;
}
.choose-flight-text-biggest {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-content-global);
}
.graph-go {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.point-start {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.line-go {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1px;
  height: var(--width-line-go);
  margin: 16px 0;
}
.point-end {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}
.choose-flight-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ani-show-detail-trip {
  transform: rotate(-180deg);
  transition: all 0.6s;
}
.ani-hide-detail-trip {
  transition: all 0.6s;
  overflow: hidden;
}
.ani-show-detail-trip-text {
  height: 200px;
  overflow: hidden;
  transition: all 0.6s;
}
.ani-detail-trip-text {
  transition: all 0.6s;
  overflow: hidden;
}
.ani-hide-change-search {
  height: 0px;
  transition: all 0.6s;
  overflow: hidden;
}
.ani-show-change-search {
  height: 180px;
  overflow: hidden;
  transition: all 0.6s;
}

.change-search {
  width: var(--width-global);
}
.c-search-f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-search-f {
  display: flex;
}
.c-search-f-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.c-search-f.b-trip {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  height: 100px;
  align-items: center;
}
.c-search-btn {
  background-color: var(--color-global);
  border: none;
  outline: none;
  cursor: pointer;
  height: 100px;
  width: 8%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.c-search-btn i {
  color: white;
  font-size: 28px;
}
.c-search-btn:hover {
  background-color: rgb(214, 2, 2);
}
.margin-4 {
  margin-top: 4px;
}
.c-search-f-column.from {
  width: 20%;
}
.c-search-f-column.to {
  width: 20%;
}
.c-search-f-column.dep {
  width: 16%;
}
.c-search-f-column.re {
  width: 16%;
}
.c-search-f-column.last-c-s {
  border-right: 0px solid transparent;
  width: 20%;
}
.change-search-retweet {
  position: absolute;
  top: 52%;
  left: 18.6%;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-search-retweet:hover {
  background: rgb(248, 248, 248);
}
.change-search-retweet i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.hide {
  display: none;
}
.choose-flight-where-child-1,
.choose-flight-where-child-2 {
  position: absolute;
  background: #fff;
  margin-left: var(--margin-left-global-choose-flight);
  border-radius: 8px;
  width: 100%;
  display: none;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.6);
  top: 0;
  width: 460px;
}
.choose-flight-where-child-1 {
  top: 100%;
  right: 62%;
}
.choose-flight-where-child-2 {
  top: 100%;
  right: 45%;
}
.choose-flight-traveler-child {
  position: absolute;
  width: 460px;
  background-color: white;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.4);
  top: 100%;
  right: 2%;
  border-radius: 8px;
  cursor: default;
  display: none;
}
.choose-flight-date-calendar-1,
.choose-flight-date-calendar-2 {
  position: absolute;
  top: 100%;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
  right: 20%;
  cursor: default;
  display: none;
  border-radius: 6px;
}
.choose-flight-date-calendar-1 {
  right: 35%;
}
.choose-flight-date-calendar-2 {
  right: 22%;
}
