.contact {
  width: calc(var(--width-global) * 2 / 3);
  background-color: white;
  height: 400px;
}
.contact-head {
  height: 16%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contact-body {
  height: 84%;
}
.contact-child {
  display: flex;
  height: 25%;
}
.contact-child-child {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 40%;
}
.contact-input {
  font-size: 14px;
  font-weight: 400;
  width: 220px;
  color: #776673;
  letter-spacing: 2px;
}
.contact-input::placeholder {
  font-size: 14px;
  color: #cfd7df;
  letter-spacing: 0px;
}
.contact-input-long {
  font-size: 14px;
  font-weight: 400;
  width: 360px;
  color: #776673;
  letter-spacing: 2px;
}
.contact-input-long::placeholder {
  font-size: 14px;
  color: #cfd7df;
  letter-spacing: 0px;
}
.select-title {
  width: 58px;
  color: var(--color-global);
  height: 22px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.select-title-long {
  width: 168px;
  color: var(--color-global);
  height: 22px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
