.credit-card {
  width: calc(var(--width-global) * 2 / 3);
  height: 800px;
  background-color: white;
}
.credit-card-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 10%;
  display: flex;
  align-items: center;
}
.credit-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.credit-flex-row {
  display: flex;
  align-items: center;
}
.credit-child {
  height: 10%;
}
.credit-price-frame {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 18%;
  display: flex;
  justify-content: center;
}
.credit-price {
  width: calc(100% - 40px);
}
.credit-pay {
  height: 22%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.credit-pay-1 {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
}
.credit-pay-2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60%;
}
.credit-img {
  width: 140px;
  height: 40px;
}
.btn-pay {
  border: none;
  background: var(--color-global);
  color: white;
  border-radius: 4px;
  padding: 12px 48px;
  cursor: pointer;
  font-size: 18px;
}
.credit-price-flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credit-price-1 {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.credit-price-2 {
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  display: flex;
  height: 40%;
  justify-content: space-between;
  align-items: center;
}
.choose-flight-text-red {
  color: var(--color-global);
  font-weight: 700;
  font-size: 20px;
}
.back-to-payment {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  align-items: center;
}
.text-back-payment {
  font-size: 24px;
  margin-left: 8px;
  font-weight: 500;
  color: #f18a5d;
}
.back-to-payment i {
  color: #f18a5d;
}
.error-pay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 60px 40px;
  border-radius: 6px;
  width: 600px;
}
.btn-ok {
  background-color: var(--color-global);
  color: white;
  border: none;
  outline: none;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.btn-ok:hover {
  background-color: rgb(202, 2, 2);
}
.error-pay-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.error-pay-flex:nth-child(1) {
  height: 140px;
  justify-content: space-around;
}
.exit-error-pay {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.exit-error-pay i {
  color: var(--color-global);
  font-size: 14px;
}
.exit-error-pay:hover {
  background-color: var(--color-global);
}
.exit-error-pay:hover i {
  color: white;
  font-size: 14px;
}
