:root {
  --width-currency: 660px;
  --width-language: 360px;
  --width-btn-currency: 100px;
  --margin-right-of-currency: 6px;
}
.nav-frame {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1000;
}
.nav {
  width: var(--width-global);
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo-text {
  color: #8a0409;
  font-family: "Trocchi", serif;
  font-size: 44px;
  font-weight: normal;
}
.nav-logo-brand {
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 24px;
  height: 24px;
  background: var(--color-global);
  border: 1px var(--color-global);
  margin: 0px 1px;
}
.fa-fighter-jet {
  color: var(--color-global);
  font-size: 20px;
  transform: translate(-10%, -40%);
}
.nav-human {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-child {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  color: #7d7d96;
}
.nav-list-child:hover i {
  color: var(--color-global);
}
.fa-angle-down {
  transform: translate(40%, 10%);
}
.nav-price {
  position: relative;
  display: flex;
  align-items: center;
}
.nav-language span,
.nav-currency span {
  font-size: 15px;
  font-weight: 700;
}
.nav-language,
.nav-currency {
  border: none;
  border-radius: 0px;
  cursor: pointer;
  height: 40px;
  width: var(--width-btn-currency);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-language:hover i,
.nav-currency:hover i,
.nav-language:hover span,
.nav-currency:hover span {
  color: var(--color-global);
}
.nav-language:hover,
.nav-currency:hover {
  background: #f8f6f6;
}
.nav-language img {
  margin-right: var(--margin-right-of-currency);
}
.nav-currency i {
  margin-right: var(--margin-right-of-currency);
}
.currency-and-language-hide {
  background: transparent;
}
.currency-and-language-show {
  background: transparent;
  color: var(--color-global);
}
.currency-and-language-show-text {
  color: var(--color-global);
}
.currency-and-language-hide-text {
  color: var(--color-text-opa);
}
.nav-language-list-frame,
.nav-currency-list-frame {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}
.nav-currency-list-frame {
  width: var(--width-currency);
  top: calc(100% - 6px);
  left: calc(100% - var(--width-currency));
}
.nav-language-list-frame {
  width: var(--width-language);
  top: calc(100% - 6px);
  left: calc(
    100% - var(--width-language) - var(--width-btn-currency) -
      var(--margin-right-of-currency)
  );
}
.nav-currency-list-head,
.nav-language-list-head {
  background-color: #f7f7f7;
  height: 48px;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-currency-list,
.nav-language-list {
  width: 100%;
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}
.nav-currency-list-flex,
.nav-language-list-flex {
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 26px;
}

.nav-currency-list-child span:nth-child(1),
.nav-language-list-child span:nth-child(1) {
  font-size: 14px;
  color: var(--color-content-global);
  width: 40px;
  font-weight: 500;
}
.nav-currency-list-child span:nth-child(2),
.nav-language-list-child span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}
.nav-language-list-head span,
.nav-currency-list-head span {
  color: var(--color-global);
  font-weight: 500;
  font-size: 20px;
}
.nav-language-icon {
  max-width: 18px;
}
.nav-language-list-child img {
  margin-right: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.nav-language-list-child:hover,
.nav-currency-list-child:hover {
  cursor: pointer;
}
.nav-language-list-child:hover span,
.nav-currency-list-child:hover span {
  color: var(--color-global);
}
.change-color-currency span,
.change-color-language span {
  color: var(--color-global);
}
.change-color-currency span:nth-child(2),
.change-color-language span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}
.change-color-currency span:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  width: 40px;
}
.change-color-language img {
  margin-right: 8px;
}
.choose-language-or-currency {
  color: var(--color-global);
}
.none-language-or-currency {
  color: rgb(137, 136, 136);
}
/*  */
.bor-style-2-child {
  position: relative;
  outline: none;
  border: none;
  width: 80px;
  height: 60px;
  font-size: 20px;
  color: var(--color-text-opa);
  background-color: white;
  transition: all 0.6s;
  font-weight: 700;
}
.bor-style-2-child:hover {
  cursor: pointer;
  color: var(--color-global);
  text-shadow: none;
}
.bor-style-2-child::after {
  position: absolute;
  content: "";
  background-color: transparent;
  border-top: 0px solid var(--color-global);
  border-left: 0px solid var(--color-global);
  width: 0px;
  height: 0px;
  top: 0;
  left: 0px;
  transition: all 1s;
}
.bor-style-2-child::before {
  position: absolute;
  content: "";
  background-color: transparent;
  border-bottom: 0px solid var(--color-global);
  border-right: 0px solid var(--color-global);
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  transition: all 1s;
}
.bor-style-2-child:hover:after {
  width: 78px;
  height: 58px;
  border-top: 1px solid var(--color-global);
  border-left: 1px solid var(--color-global);
}
.bor-style-2-child:hover:before {
  width: 78px;
  height: 58px;
  border-right: 1px solid var(--color-global);
  border-bottom: 1px solid var(--color-global);
}
.choose-page-in-navbar {
  border: 1px solid var(--color-global);
  color: var(--color-global);
}
/*  */
.bor-style-2-long-child {
  position: relative;
  outline: none;
  border: none;
  width: 140px;
  height: 60px;
  font-size: 20px;
  color: var(--color-text-opa);
  font-weight: 700;
  background-color: white;
  transition: all 0.6s;
}
.bor-style-2-long-child:hover {
  cursor: pointer;
  text-shadow: none;
  color: var(--color-global);
}
.bor-style-2-long-child::after {
  position: absolute;
  content: "";
  background-color: transparent;
  border-top: 0px solid var(--color-global);
  border-left: 0px solid var(--color-global);
  width: 0px;
  height: 0px;
  top: 0;
  left: 0px;
  transition: all 1s;
}
.bor-style-2-long-child::before {
  position: absolute;
  content: "";
  background-color: transparent;
  border-bottom: 0px solid var(--color-global);
  border-right: 0px solid var(--color-global);
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  transition: all 1s;
}
.bor-style-2-long-child:hover:after {
  width: 134px;
  height: 58px;
  border-top: 1px solid var(--color-global);
  border-left: 1px solid var(--color-global);
}
.bor-style-2-long-child:hover:before {
  width: 134px;
  height: 58px;
  border-right: 1px solid var(--color-global);
  border-bottom: 1px solid var(--color-global);
}
/*  */
.login-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.choose-page {
  width: 140px;
  border: 1px solid var(--color-global);
  color: var(--color-global);
  position: relative;
  outline: none;
  cursor: pointer;
  height: 60px;
  font-size: 20px;
  background-color: white;
  transition: all 0.6s;
  font-weight: 700;
}
/* border style 5 */

.bor-style-5-child-btn {
  cursor: pointer;
  border: 1px solid var(--color-global);
  position: relative;
  font-size: 16px;
  width: 100px;
  height: 48px;
  font-weight: 700;
  color: var(--color-global);
  background: transparent;
  outline: none;
  z-index: 1;
  transition: all 0.8;
}
.bor-style-5-child-btn:hover {
  color: white;
}
.bor-style-5-child-btn::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 48px;
  bottom: -1px;
  right: calc(50% + 1px);
  background: var(--color-global);
  transition: all 0.8s;
  z-index: -1;
}
.bor-style-5-child-btn:hover:before {
  width: 100px;
  margin-right: calc(-50% - 2px);
}
/* border-style-3 */
.bor-style-3-child {
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  width: 100px;
  height: 46px;
  font-size: 32px;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  color: var(--color-global);
}
.bor-style-3-child::before {
  transition: all 1s;
  position: absolute;
  content: "";
  width: 0%;
  height: calc(100%);
  right: 50%;
  bottom: -1px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.bor-style-3-child::after {
  transition: all 1s;
  position: absolute;
  content: "";
  height: 0%;
  width: calc(100%);
  top: calc(50% + 1px);
  right: 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.bor-style-3-child:hover:before {
  width: 100px;
  margin-right: -50%;
  border-top: 1px solid var(--color-global);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid var(--color-global);
}
.bor-style-3-child:hover:after {
  height: 46px;
  margin-top: calc(-20% - 5px);
  border-top: 1px solid transparent;
  border-left: 1px solid var(--color-global);
  border-right: 1px solid var(--color-global);
  border-bottom: 1px solid transparent;
}
