.recommend-frame{
  width:100%;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.recommend{
  width: var(--width-global );
}
.recommend-head{
  color: #6d595b;
  font-size: 36px;
  font-weight: 500;
}
.recommend-list{
  width: 100%;
}
.recommend-list-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(var(--width-global)/4);
  margin : 16px 0;
}
.recommend-list-row div{
  display: flex;
  flex-direction: column;
  align-items:space-between;
  justify-content: space-around;
  border-radius: 8px;
  cursor: pointer;
}
.recommend-list-row div:hover{
  
}
.recommend-list-row div span{
  margin-left : var(--margin-left-global-booktrip);
}
.recommend-list-row div span:nth-child(1){
  font-weight: 500;
  font-size: 16px;
  color:white;
}
.recommend-list-row div span:nth-child(2){
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
/* row 1 */
.recommend-list-row-1-1{
  width: calc(50%) ;
  background: url(../images/city-13.jpeg);
  background-size: cover;
}
.recommend-list-row-1-2,
.recommend-list-row-1-3{
  width: calc(25% - 12px);
}
.recommend-list-row-1-2{
  background: url(../images/city-2.jpeg);
  background-size: cover;
}
.recommend-list-row-1-3{
  background: url(../images/city-1.jpeg);
  background-size: cover;
}
/* row 2 */
.recommend-list-row-2-1{
  width: calc(50%) ;
  background: url(../images/city-8.jpeg);
  background-size: cover;
}
.recommend-list-row-2-2,
.recommend-list-row-2-3{
  width: calc(25% - 12px);
}
.recommend-list-row-2-2{
  background: url(../images/city-7.jpeg);
  background-size: cover;
}
.recommend-list-row-2-3{
  background: url(../images/city-6.jpeg);
  background-size: cover;
}
/* row 3 */
.recommend-list-row-3-1{
  width: calc(50%) ;
  background: url(../images/city-12.jpeg);
  background-size: cover;
}
.recommend-list-row-3-2,
.recommend-list-row-3-3{
  width: calc(25% - 12px);
}
.recommend-list-row-3-2{
  background: url(../images/city-14.jpeg);
  background-size: cover;
}
.recommend-list-row-3-3{
  background: url(../images/city-15.jpeg);
  background-size: cover;
}
/* row 4 */
.recommend-list-row-4-1{
  width: calc(50%) ;
  background: url(../images/city-11.jpeg);
  background-size: cover;
}
.recommend-list-row-4-2,
.recommend-list-row-4-3{
  width: calc(25% - 12px);
}
.recommend-list-row-4-2{
  background: url(../images/city-10.jpeg);
  background-size: cover;
}
.recommend-list-row-4-3{
  background: url(../images/city-9.jpeg);
  background-size: cover;
}