:root {
  --width-pseudo-slide-price: 48px;
  --width-slide-price: 200px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    -webkit-appearance: none;
    height: 6px;
    cursor: pointer;
    background: var(--color-global);
  }
}
.slider-price {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-price-body {
  display: flex;
  align-items: center;
}
.slider-price-body input {
  width: var(--width-slide-price);
  margin: 0 8px;
}
.slider-price-head {
  position: relative;
  margin-bottom: 32px;
}
.slider-price-head span {
  position: relative;
  color: white;
  z-index: 2;
}
.slider-price-head::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: var(--width-pseudo-slide-price);
  height: var(--width-pseudo-slide-price);
  transform: rotate(45deg) translateX(-33%);
  background: var(--color-global);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 1;
}
