.top-frame{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
.top{
  width: var(--width-global );
}
.top-list{
  display: flex;
  justify-content: space-evenly;
}
.top-list-child{
  width: calc(var(--width-global)/5.25);
  display: flex;
  flex-direction: column;
}
.top-head{
  text-align: center;
  margin: 60px 0 20px 0;
}
.top-list-child a{
  margin: 4px 0;
  cursor: pointer;
  font-family: 'Lato', sans-serif; 
  font-size: 17px;
  color: #947979;
}