.traveler-infor {
  width: calc(var(--width-global) * 2 / 3);
  background-color: white;
}
.traveler-infor-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 60px;
}
.traveler-infor-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94%;
  padding: 0 0 20px 0;
}
.traveler-infor-body-frame {
  display: flex;
  justify-content: center;
}
.traveler-infor-child {
  height: 330px;
  width: 100%;
}
.traveler-infor-child-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 19%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.traveler-infor-child-body {
  height: 81%;
}
.traveler-infor-child-body-child {
  height: 33.333%;
  display: flex;
}
.traveler-infor-child-head-1 {
  display: flex;
  align-items: center;
}
.traveler-infor-child-head-1 i {
  font-size: 20px;
  color: #616d7c;
  margin-right: 12px;
}
.traveler-infor-child-head-2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.traveler-infor-child-head-2 label {
  cursor: pointer;
}
.checkbox-traveler {
  transform: scale(1.4);
  cursor: pointer;
  color: var(--color-global);
}
