:root {
  --width-calendar: 350px;
}
.calendar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.calendar-head span {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-global);
}
.calendar-head button {
  border: none;
  color: var(--color-text-booktrip);
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  cursor: pointer;
  padding: 16px;
}
.calendar-head i {
  font-size: 18px;
}
.calendar {
  width: var(--width-calendar);
  background-color: white;
}
.calendar-name-day div {
  margin: 8px 0;
  width: calc(var(--width-calendar) / 7);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.calendar-name-day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
}
.calendar-body {
  font-weight: 500;
}
.calendar-name-month {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.calendar-name-month div {
  width: calc(var(--width-calendar) / 7);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.calendar-note {
  color: var(--color-global);
}
.calendar-name-day span {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.calendar-hidden {
  pointer-events: none;
  color: #eceaea;
}
.holiday-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}
.holiday-name {
  width: 80%;
  font-size: 13px;
  color: var(--color-global);
}
.holiday-date {
  color: var(--color-global);
  font-size: 13px;
  font-weight: 700;
}
.calendar-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.calendar-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}
.calendar-text-normal:hover {
  border: 2px solid var(--color-global);
  cursor: pointer;
  color: var(--color-global);
}
.calendar-text-select:hover {
  cursor: pointer;
  color: white;
}
.calendar-text-holiday:hover {
  border: 2px solid var(--color-global);
  cursor: pointer;
  color: var(--color-global);
}
.calendar-text-normal {
  color: #4d4d4d;
}
.calendar-text-blur {
  color: #c7c6c6;
}
.calendar-text-normal-big {
  color: #acacac;
}
.calendar-text-holiday {
  color: var(--color-global);
}
.calendar-text-select {
  background-color: var(--color-global);
  color: white;
}
.d-c {
  width: calc(100% / 7);
  height: 40px;
}
